* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: antiquewhite;
}

header {
    background-image:linear-gradient(to top, lightblue, rgb(57, 177, 218));
    height: 150px;

}
h1#titulo_principal {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

span {
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    text-indent: 40px;
}
nav {
    padding-top: 50px;
}
div#caixa {
    width: 700px;
    height: 700px;
    
    border: 10px solid black;
    border-radius: 50px;
    margin: 30px auto 30px auto;
    
}
div#caixa > h2 {
    text-align: center;
    padding-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div#caixa > p {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding-left: 70px;

}
div#caixa2 {
    margin: auto;

    width: 700px;
    height: 700px;
    border: 10px solid black;
    border-radius: 49px;
}
img {
    width: 700px;
    height: 700px;
    border-radius: 34px;
}
section {
    width: 500px;
    margin: 50px auto 200px auto;
    border: 2px solid black;
    box-shadow: 0px 0px 20px 2px;
    border-radius: 10px;
    padding: 40px;

}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;  
}
h2 {
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section > p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
ol.lista {
    padding: 20px 0px 20px 20px;
    font-size: 20px;

}
ol.lista > li {
    padding-top: 10px;
}
ul.sublista {
    padding: 20px 0px 20px 20px;
}
footer {
    background-color: black;
    color: white;
    height: 80px;
    padding: 50px;

}